################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/sixel-sharp/v16/Server/sqlite3
/.vs/sixel-sharp/v16/.suo
/Example/bin
/Example/obj
*.csproj.user
.suo